[ req ]
distinguished_name = req_distinguished_name
extensions = v3_ca
req_extensions = v3_ca
prompt = no
[ v3_ca ]
basicConstraints = CA:TRUE
[ req_distinguished_name ]
countryName = s1
stateOrProvinceName = s2
organizationName = s3
commonName = s4