[ req ]
distinguished_name = req_distinguished_name
prompt=no 
[ req_distinguished_name ]
countryName                 = IN
stateOrProvinceName         = IN
localityName               = IN
organizationName           = IN
commonName                 = certsarefun.ericashton.com